.footer-copyright {
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}
.footer-copyright div {
  padding-top: 14px;
}
@media screen and (max-width: 768px) {
  .footer-copyright {
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
  }
}
